body {
  width: 1200px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  color: #000000;
  background: #f2f2f2;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}

.portfolio {
  width: 70%;
}

.certificates {
  width: 25%;
}

.certificates-miniature {
  margin: 0;
  margin-left: 20px;
  margin-bottom: 15px;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

figcaption {
  margin-bottom: 5px;
}

.layout, .adaptive-layout {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 30px;
}

.adaptive-layout {
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; /* убрать, когда появится ещё проект */
  margin-left: 20px; /* убрать, когда появится ещё проект */
}

.layout figure, .adaptive-layout figure {
  margin: 0;
  width: 45%;
}

.layout img, .adaptive-layout img {
  width: 300px;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}

a img {
  border: none;
}

.lightbox {
  position: fixed;
  overflow: hidden;
  z-index: 9999;
  width: 0;
  height: 0;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  width: 90%;
  max-width: 400px;
  max-height: 560px;
  height: auto;
  margin: 30px auto;
  opacity: 0;
  border: 1px solid #4D4D4D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  transition: opacity 400ms ease-in;
}

.lightbox:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  outline: none;
}

.lightbox:target img {
  opacity: 1;
}

.certificates-miniature img{
  width: 85%;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.6);
}
